[2022-07-31 03:10] pinkforest commented on #1173
Thanks for caring and following up.

I have additionally sent an e-mail to the maintainer - the maintainer seems to have had some activity a week ago

As per recent policy change if the maintainer does not answer in 90 days we might merge this if we don't get any clarification re: maintenance policy for security fixes or maintenance handover potential.

[2022-07-31 05:14] pinkforest commented on #1285
Great - Thanks good catch - Apparently async-graphql patched published now

Feel free to send a PR or I can do later

[2022-07-31 05:29] pinkforest commented on #1090
sodiumoxide is having some recent movement re: maintenance fixes
https://github.com/sodiumoxide/sodiumoxide/pull/478#issuecomment-1193795915

[2022-07-31 08:54] pinkforest commented on #1180
Maybe we can flick these into the MaintainerDb which is by design positive signals database where we can just signal "Deprecated" status which indicates that the maintainer is proactive about this stuff :purple_heart:

[2022-07-31 09:06] pinkforest commented on #1209
_This crate has 15,247 downloads all time, ~25 average daily downloads supposedly affected versions._

Seems there are couple of open issues too and the repo hasn't moved for a while

https://github.com/tylerhawkes/maligned/issues/5 - Unsoundness in heap allocation - 1 Jan 2022
https://github.com/tylerhawkes/maligned/issues/6 - Padding bytes UB - 1 Mar 2021

Would you mind writing an issue about t

[2022-07-31 11:17] pinkforest commented on #1193
_This crate has 639,063 downloads of all time, 3k downloads a day with majority of them < 0.6.0_

I sent the maintainer a friendly offer to help them to get their users up to sound version. Let's see if I get a response.

Most downloads are on the unsound versions so I guess people have specified 0.5 or equivalent on their manifests and because the 0.6.0 had breaking ABI change that removed LocalI

[2022-07-31 11:29] pinkforest commented on #1203
GHSA are on CC-BY-4.0 and RustSec is on Public Domain
Luckily there was [CVE-2022-23639](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-23639) we can use.

Would you like to send a PR ?

Just please ensure the contents are from CVE source (can still link to GHSA though)

Or I can do later -

Cheers

[2022-07-31 20:50] tylerhawkes commented on #1209
I'll take a look at it this week. This is the first time I've heard about
this, so I'm sorry about missing notifications.

On Sun, Jul 31, 2022, 05:06 pinkforest ***@***.***> wrote:

[2022-08-02 17:14] #1097 closed

[2022-08-02 18:01] pinkforest commented on #1173
The maintainer has responded to myself and is keen to either merge security fixes or hand over the crate.

[2022-08-02 18:11] pinkforest commented on #1285
This was merged #1290

[2022-08-02 18:11] #1285 closed

[2022-08-02 18:13] #1044 closed

[2022-08-02 21:24] Nukesor commented on #1173
In that case, I'm just going to close this issue :)

I see that this isn't a security issue per-se (yet). I'm still a bit curious why the author doesn't take care of this project since this many years without properly abandoning it or at least flagging it as unmaintained, but I guess that's not for me to decide.

[2022-08-02 21:24] #1173 closed

[2022-08-04 10:59] pinkforest opened #1303 "interledger-rs Unmaintained & Username comparison"
**Following-Up from here re:unicase**
https://github.com/rustsec/advisory-db/pull/1176
https://github.com/interledger-rs/interledger-rs/pull/744

**Crates**
interledger - 2,962 downloads - over 2 years ago - crates.io: 0.6.0, github: 1.0.0 (commit 3 years ago)
ilp-cli - 665 downloads - over 2 years ago - crates.io: 0.3.0, github: 1.0.0 (8 months ago)
ilp-node -  1,853 - over 2 years ago - crates.i

[2022-08-04 13:55] #1203 closed

[2022-08-04 18:19] Bromeon opened #1307 "Latest commits are not signed, breaking downstream CI"
The last commit https://github.com/rustsec/advisory-db/commit/db78ca0149f8ed7c8c2d2aea0236edb63a23f362 seems to break some CI integrations, because it's not a verified committer.

`cargo-deny` fails to fetch the advisory database, with error:
[code]

See e.g. [this CI run](https://github.com/Bromeon/godot-rust/runs/7678284796?check_suite_focus=true).

[2022-08-04 18:24] Bromeon commented on #1307
Thanks for the fast fix in https://github.com/rustsec/advisory-db/commit/d87417aea06584378609bdfc683a41de14f36acc 🚀

[2022-08-04 18:27] tarcieri commented on #1307
@pinkforest FYI, everything needs to go through a PR workflow

I went ahead and enabled "include administrators" in the branch protections

[2022-08-04 18:27] #1307 closed

[2022-08-04 18:38] Shnatsel commented on #1307
Also the requirement for the commit to be signed is useless; I've filed https://github.com/rustsec/rustsec/issues/629 to remove it.

[2022-08-04 18:59] pinkforest commented on #1307
Yeah this was my stuff up :woman_shrugging: my apologies :sob: - I don't typically like working in branch-in-origin-repo - I had pulled the .git from https:// instead of git:// and was working in the rustdecimal branch and had to switch to the git:// and then forgot to change the branch again.

As to salt to the wounds that branch would require rebase so I went with another PR

[2022-08-04 23:14] 8573 commented on #1307
Huh, under what circumstances would you have _had to_ use the unsecured “git://” protocol? Do you mean “git+ssh://”?

[2022-08-05 00:57] pinkforest opened #1324 "Radiating Intent as the maintainer"
Linking from Maintainers Guide to relevant article

https://medium.com/@ElizAyer/dont-ask-forgiveness-radiate-intent-d36fd22393a3

[2022-08-05 01:52] pinkforest commented on #1095
Please feel free to send a PR - it doesn't have much dependencies but it has unsafe block someone has sent a PR on.

[2022-08-08 12:21] tarcieri commented on #1121
It'd definitely be good to file an unmaintained crate advisory if the crate has been abandoned.

Otherwise this is a sort of tricky issue in that we don't want to file advisories for every last potential panic, but the one exception to that has been panics in format parsers that operate on untrusted data (potentially sourced via the network) as that becomes a network DoS vector (not sure we have a

[2022-08-08 12:32] tomaka commented on #1121
My latest contribution is from April 2015. I don't think I can be considered a maintainer.

[2022-08-08 12:37] pinkforest commented on #1121
@tomaka maybe there is someone wants to takeover it or smth considering it has a lot of use ? -

You might be also potentially able to transfer the crate ownership to someone who could maintain it as you're still listed as owner of the crate - that would be most definitely very helpful I think.

[2022-08-08 13:47] pinkforest commented on #1226
Seems @RustyYato merged your fix :+1:
https://github.com/RustyYato/cell-project/pull/4#issuecomment-1208108266

@RustyYato I assume there is new version in crates.io soon ?

Probably might be good to yank the old versions if it is feasible as well.

Cheers

[2022-08-08 16:01] SoniEx2 commented on #1226
@pinkforest it is done!

[2022-08-09 00:58] netvl commented on #1121
Hello,

I'm the owner of that crate, and it is indeed unmaintained because I don't have capacity to do it for a very long time. I would very much like to pass ownership of it to someone else.

That being said, my current employer requires any work on any open-source projects to be approved (I'm not even 100% sure it is okay for me to answer here), so even if I find someone, it will take some time

[2022-08-10 04:01] #1090 closed

[2022-08-12 08:36] pinkforest commented on #1303
@amousset - Seems interledger is not maintained and doesn't seem to be able to publish patched -
https://github.com/interledger-rs/interledger-rs/issues/745#issuecomment-1211808112

You were across the username stuff.. does it have any vector or is it just red herring re: security of it ?

[2022-08-12 10:05] pinkforest commented on #1121
Cool - thanks a lot for taking the time to letting us know -

We don't usually flag advisories around where the maintainer is reachable - the advisory would be for anything totally unreachable

Would you nonetheless be okay for us to do unmaintained informational advisory so it can perhaps make someone step up from the community and where you might be able to start the process ?

Cheers

[2022-08-13 12:13] pinkforest commented on #1281
Closing this for now - if the situation changes please feel free to re-open.

[2022-08-13 12:13] #1281 closed

[2022-08-13 12:28] pinkforest commented on #1221
@ehuss seems to have picked this up (?) and since the security issues fix promise is there we can close this

If the maintainer says we can flag advisory then we can do so -

Perhaps re-consider merging toml_edit to toml if that is feasible but we can't do much here.

Re-open if this becomes actionable.

[2022-08-13 12:28] #1221 closed

[2022-08-13 12:40] pinkforest commented on #1253
We don't have any actionable fix / feature here whilst being either not feasible or there is no way to do with github pages -

Leaving with no way forward with this issue other than to close it-

Please submit a PR if there is a concrete way to do this but since we don't have a nice way to do it - we'll have to close this.

If a search feature needs to be added or URL redirect then issue could be

[2022-08-13 12:40] #1253 closed

[2022-08-13 12:52] pinkforest commented on #1174
The advisory was merged and we also mentioned in that it is unmaintained so I think we can close this considering the advisory we put out was non-informational e.g. it would be redundant / confusing to put another advisory -

Closing as completed.

[2022-08-13 12:52] #1174 closed

[2022-08-13 13:16] pinkforest commented on #926
Sum summarum: flat2-rs unsoundness

There are upstream rust-lang/rust issue(s) and libs are well aware of this by now with extensive discussions.

There is also another issue more general in nature: https://github.com/rustsec/advisory-db/issues/1190

time was only re-filed because the maintainer wanted it back - https://github.com/rustsec/advisory-db/pull/1242#issuecomment-1144903688

chrono was o

[2022-08-13 13:16] #926 closed

[2022-08-13 13:24] pinkforest commented on #1190
Sum summarum:

There are upstream rust-lang/rust issue(s) https://github.com/rust-lang/rust/issues/90308 and libs are well aware of this by now with extensive discussions.

time was only re-filed because the maintainer wanted it back - https://github.com/rustsec/advisory-db/pull/1242#issuecomment-1144903688

chrono was only re-filed to advertise fix because there was RiR localtime_r in 0.4.20 - ht

[2022-08-13 13:24] #1190 closed

[2022-08-13 13:36] pinkforest commented on #1175
@Matthias247 would you want / prefer for us to file any advisories on any of these soundness issues potentially ?

Reading from responses "it shouldn't have caused any issues in practice" seems to indicate some disagreement re: as whether there is / are any issue/s on we should file any advisories on ?

@alexmoon I notice you may have fixed something - do you have any opinion either way? Thanks

I

[2022-08-13 13:44] pinkforest commented on #933
Would be keen to get this ticket and https://github.com/rustsec/advisory-db/issues/913 dealt with

I've pinged the maintainer and asked if the crate should be used here - https://github.com/pie-flavor/hexchat-rs/issues/2

[2022-08-13 13:48] pinkforest commented on #154
I'll convert this to discussion as we got these old Issues - keen to get them cleaned up and this seems like something we can not act on too much with any advisory.

[2022-08-13 13:51] pinkforest commented on #173
This seems old tracking issue -

Closing in favor of tracking indvidual crates under their own separate issues - the way we've adopted.

If something needs to be discussed then we can always do those in discussions.

Cheers

[2022-08-13 13:51] #173 closed

[2022-08-13 13:54] pinkforest commented on #413
Auditable discussion - there is now new repo and branding @ https://github.com/rust-secure-code/cargo-auditable

Quite bit has changed so closing in favor of keeping issue list in advisory-db clean :) Thanks all :purple_heart:

[2022-08-13 13:54] #413 closed

[2022-08-13 14:21] pinkforest commented on #380
Hmm can't do this really as we cannot guarantee that the merge commit has the PR number that could be accessible.

I've followed up here: https://github.com/rustsec/rustsec/issues/638 - We can continue there if any - Cheers

[2022-08-13 14:21] #380 closed

[2022-08-13 14:30] pinkforest commented on #767
People are generally looking CONTRIBUTING.md which says:

Maybe we can just reference various great examples that give people something to look up to around "What good looks like"

@amousset do you have any pet examples you would like to showcase perhaps ? :)

[2022-08-13 18:25] netvl commented on #1121
Since I'm the only owner of the repository right now, no one else will be able to do anything with the code except me, and I can't as well without an approval. I will start the process of approval for transferring the repo to someone else (I already have got a person interested in it), but it will take time. I don't think I entirely understand your process, so feel free to do whatever you think is

[2022-08-13 23:17] pinkforest commented on #1180
We have precedent that archieved repos itself don't count for unmaintained status now.

Since we don't have any actionable advisories anymore from here I'll close this one :)

If we have any actionable actions from these then we can re-open as issue -

Thanks all :purple_heart:

[2022-08-13 23:17] #1180 closed

[2022-08-13 23:20] pinkforest commented on #751
https://github.com/rustsec/advisory-db/pull/1341 clarified on this in the example

This was also discussed in zulip that led to that PR - closing this as Resolved

[2022-08-13 23:20] #751 closed

[2022-08-13 23:23] pinkforest commented on #1089
Converting this to discussions.

[2022-08-13 23:23] #1089 closed, assigned to nobody

[2022-08-13 23:27] pinkforest commented on #313
Converting to discussions

btw a concrete issue here we can also deal with around this:
https://github.com/rustsec/rustsec/issues/634

[2022-08-13 23:37] pinkforest commented on #248
There isn't anything actionable here but I guess we are fishing for ideas how to retroactively collect this data.

Now that we have discussions -

I started a concrete discussion favor of this here:
https://github.com/rustsec/advisory-db/discussions/1350

Closing this as completed

[2022-08-13 23:37] #248 closed

[2022-08-14 05:14] pinkforest commented on #1270
Converting this to discussion as there isn't much actionable concrete stuff right now and requires wider discussion round CVSS. Thanks

[2022-08-14 05:38] pinkforest commented on #824
This project has disappeared from GitHub entirely and the CVE refers to places that don't exist.

keymaker-mx github org is empty as well and quick googling doesn't find any results.

There is a crate called keymaker from seven years ago - what are these crates named as ? I'm not familiar with keymaker

If we find something that exists as a published Rust project (crate) we can put advisory on we

[2022-08-14 05:38] #824 closed

[2022-08-14 06:10] pinkforest commented on #512
This works today now with latest rustsec:

RUSTSEC-0000-0000.md
`functions = { "mycrate::MyType::<impl>Clone::clone" = ["< 1.2.0, >= 1.1.0"] }`

$ rustsec-admin lint . --skip-namecheck rustdecimal|grep 0000
      Linted ok: ./crates/mycrate/RUSTSEC-0000-0000.md

From code all I see now in checks is that the initial `mycrate::` matches crate name mycrate

Closing as completed - We can re-open in ru

[2022-08-14 06:10] #512 closed

[2022-08-14 06:13] pinkforest commented on #556
I think since all the metadata has been added we can close this -

Re-open in rustsec/rustsec if we need more or the button is still required.

[2022-08-14 06:13] #556 closed

[2022-08-14 06:33] pinkforest commented on #152
For some reason aes-soft never got never got an advisory - or it's not there atm
https://github.com/RustCrypto/block-ciphers/issues/51#issuecomment-524587434

I started a wider discussion whether we should file advisories against Rustc - which we don't atm
https://github.com/rustsec/advisory-db/discussions/1353

We need to see if it is feasible to file advisories against Rustc first - Closing unti

[2022-08-14 06:33] #152 closed

[2022-08-14 06:34] pinkforest commented on #1094
I started a wider discussion whether we should file advisories against Rustc - which we don't atm
https://github.com/rustsec/advisory-db/discussions/1353

We need to see if it is feasible to file advisories against Rustc first -

Closing this until we resolve that - I suspect we have a few of these we owuld need to catch up if we add rustc.

[2022-08-14 06:34] #1094 closed

[2022-08-14 06:43] pinkforest commented on #429
This works today as:
`references = ["https://foo.com", "https://bar.com"]`

I've added Doc PR https://github.com/rustsec/advisory-db/pull/1354

Closing as Completed

[2022-08-14 06:44] #429 closed

[2022-08-14 06:54] pinkforest commented on #1092
We have now a pretty fair established policy around this now so closing this as completed.

We do need to do more to educate people about that it helps them and we are not against them but that is wider goal.

It is a difficult thing to do to balance the interests whilst keeping things secure - we can't really have any formulaic method of communication or templates as we have to have a personalise

[2022-08-14 06:54] #1092 closed

[2022-08-14 07:10] pinkforest commented on #1175
I also pinged about maintenance status here: https://github.com/Matthias247/futures-intrusive/issues/65

This crate has 2,304,739 downloads with ~8k downloads a day - last release was a year ago with open questions re: soundness.

[2022-08-14 07:28] pinkforest commented on #1121
Ok. We'll file as unmaintained in https://github.com/rustsec/advisory-db/pull/1356

The new maintainer - if any - can send a PR to withdraw the advisory when back to maintained status.

Thanks a lot!

[2022-08-14 07:39] pinkforest opened #1357 "serde-xml-rs Maintenace Status"
Raised issue with the maintainer @RReverser here: https://github.com/RReverser/serde-xml-rs/issues/180

This crate depends on xml-rs for the parsing and we've dealt with it before.

xml-rs Unmaintained:
- https://github.com/rustsec/advisory-db/pull/1356
- https://github.com/rustsec/advisory-db/issues/1121

[2022-08-14 08:49] pinkforest commented on #1254
Do we have alternatives / forks ?

There is a fork now called `dotenvy` which might be actionable fix for the people if we were to flag unmaintained:
https://github.com/dotenv-rs/dotenv/issues/74#issuecomment-1054574802

https://github.com/dotenv-rs/dotenv/issues/79
https://github.com/allan2/dotenvy/
https://crates.io/crates/dotenvy

@allan2 @hoijui

https://github.com/dotenv-rs/dotenv/issues/74#i

[2022-08-14 08:57] Dylan-DPC commented on #1254
i am ready to help maintain it if needed and form a team to increase the bus factor if either the old maintainers or the envy ones are interested

[2022-08-14 09:38] pinkforest opened #1360 "`ed25519-dalek` PK Oracle"
EDIT: This issue was about both the PK oracle in pub API as well as mainenance issue - Maintenace status was / has been resolved but older versions still have PK oracle where we should nudge people to bump.

NOTE: This does NOT necessarily mean the crypto on ed25519-dalek is inherently broken or insecure as of now

_e.g. Depending on how we classify / see broken / insecure - people often see crypt

[2022-08-14 09:50] allan2 commented on #1254
@Dylan-DPC I'm the maintainer of [dotenvy](https://github.com/allan2/dotenvy).

Thank you for your interest on this topic. I've invited you to the repo.

[2022-08-14 10:06] Dylan-DPC commented on #1254
thanks i got it

[2022-08-14 17:54] #767 closed

[2022-08-15 02:12] #1121 closed

[2022-08-15 16:41] alamb commented on #1092
These are wise words indeed 👍

[2022-08-16 02:40] #928 closed

[2022-08-16 02:43] pinkforest commented on #1357
Closing as the maintainer seems responsive - can't obviously deal with the upstream dependency.

If the situation changes for this crate we can deal with separately.

[2022-08-16 02:43] #1357 closed

[2022-08-17 12:10] pinkforest commented on #233
I think we have nothing to action here so closing this old issue :) Re-open if there was anything we need to raise advisory about.

[2022-08-17 12:10] #233 closed

[2022-08-17 12:22] pinkforest commented on #1111
There is a wider discussion around what to do with the rust/ directory in future here incl. rustc
https://github.com/rustsec/advisory-db/discussions/1353

Closing this old issue - re-open if we need to do something around this specifically.

[2022-08-17 12:22] #1111 closed

[2022-08-17 12:57] pinkforest commented on #1095
Do we have any alternatives to recommend if we were to mark this unmaintained ?

There is like nu-ansi-term ? Wonder what else is out there ?

[2022-08-17 14:28] joshtriplett commented on #1095
I have permission to upload the crate on crates.io, but not permission to move the repository to some other organization, and in any case I don't have plans to do ongoing maintenance of ansi_term myself. I would personally recommend using the anstyle family of crates at this point, maintained by @epage.

[2022-08-17 14:36] epage commented on #1095
Note that [`anstyle`](https://github.com/epage/anstyle) is still fairly early.  All it supports at the moment is ansi style descriptions independent of the term styling crate so it can be used in public APIs for stylesheets while the underlying term styler can change (and it hasn't been vetted yet for a 1.0).  https://github.com/epage/anstyle/issues/5 is tracing creating of streams for formatting.

[2022-08-17 19:35] pinkforest commented on #1095
Thanks team -

I've got a nudge going here: https://github.com/rustsec/advisory-db/pull/1372

If anyone comes up additional possible alternative(s) -

I've also added yansi to the list by @SergioBenitez

[2022-08-18 01:55] SergioBenitez commented on #1095
I have an upgrade coming to yansi that I'm really excited about that  resolves effectively every personal qualm as well as (I believe) every concern that @epage has raised about the library in the past. Happy to share more if there's interest!

[2022-08-18 04:30] #287 closed

[2022-08-19 05:33] #1303 closed

[2022-08-19 08:12] 8573 commented on #824
Looking at https://nvd.nist.gov/vuln/detail/CVE-2021-21269 and querying the Internet Archive Wayback Machine for the first reference URL gives [a commit diff](https://web.archive.org/web/20211207060547/https://github.com/keymaker-mx/keymaker/commit/63f3012b390ff1519a84100df9e5dff5058bb926) that shows that the crate's manifest listed the crate name as `keymaker`. The crate `author` and the same-nam

[2022-08-19 08:17] pinkforest commented on #824
thanks @8573 for confirming - yeah we can't do much without a published crate indeed

[2022-08-19 08:19] #1095 closed

[2022-08-23 03:55] allan2 commented on #1254
This reply is based on [my comment on #1359](https://github.com/rustsec/advisory-db/pull/1359#issuecomment-1223493588).

[Release v0.15.2](https://github.com/allan2/dotenvy/blob/master/CHANGELOG.md) was put out today.

@Dylan-DPC  was added to the repo on Aug 14. I'm still kicking but I appreciate your thoughts of contingency ;)

As stated on the README, dotenvy is convenient for dev environments.

[2022-08-27 09:39] pinkforest commented on #933
@SoniEx2 would you like to send informational = "unmaintained" PR and describe these soundness issues alongside

It should deal with both this and #913 but we could just flag one unmaintained that contains the soundness issues

Cheers

[2022-08-27 09:41] pinkforest commented on #1226
@RustyYato would you like to send `informational = unsound` PR for this ?

[2022-08-27 09:45] pinkforest commented on #1265
@Hezuikn  would you like to draft & send us a PR for `informational = unsound` on this based on above ? Cheers

[2022-08-27 09:46] pinkforest commented on #1265
re: fix - I would hope that @max-ym could put a patched version out but I guess we can draft a PR for an advisory regardless

[2022-08-27 10:29] pinkforest commented on #327
I drafted the last one for mozjpeg:
https://github.com/rustsec/advisory-db/pull/1389

[2022-08-27 12:41] pinkforest commented on #1088
Added a PR #1390

[2022-08-27 12:48] pinkforest commented on #288
SInce both we cannot address this is in advisory-db today and there is now compherensive tooling issue under rustsec/rustsec

We'll close this one in favor of consolidating the attention to: https://github.com/rustsec/rustsec/issues/505

Thanks everyone

[2022-08-27 12:48] #288 closed

[2022-08-27 12:51] pinkforest commented on #1209
@kyrias would you like to create a PR with `informational = unsound` around this ?

@tylerhawkes wonder if you have you been able to look into a fix ? Would love to point to a fixed version.

[2022-08-27 13:36] RustyYato commented on #1226
Sure, I can do that

[2022-08-28 11:55] amousset commented on #1253
A search field has been added to rustsec.org, with the ability to look up CVE IDs.

[2022-08-28 11:58] pinkforest commented on #1253
it's definitely something that has been irritating me constantly for a long time :)

Thanks @amousset for picking this up and :ship:  it! :purple_heart:

[2022-08-30 14:58] djc opened #1394 "wee_alloc is unmaintained?"
See https://www.reddit.com/r/rust/comments/x1cle0/dont_use_wee_alloc_in_production_code_targeting/ and https://github.com/rustwasm/wee_alloc/issues/107.

[2022-08-30 18:32] #1226 closed

[2022-08-30 18:35] #327 closed

[2022-08-30 18:36] #867 closed

[2022-08-30 18:41] pinkforest commented on #1394
Hm looks like so. I'll try to do last desperate email to maintainer and ask what we should do with it

@fitzgen seems active in GitHub - we could nudge people to switch something maintained or would you be happy for people to still use the crate ?

If we were to go nudging people what we should recommend as alternative(s) ? e.g. actionable fix

[2022-08-30 19:12] pinkforest commented on #1394
@djc want to do a PR or I can do later ? Seems we can flag unmaintained on it <https://github.com/rustwasm/wee_alloc/issues/107#issuecomment-1232046894> .. just need some alternative(s) and maybe we can mention lol_alloc as a honorable research project

[2022-08-30 19:13] djc commented on #1394
I'm not involved enough to do a PR, just a drive-by issue because of the Reddit thread.

[2022-08-30 19:16] pinkforest commented on #1394
@Craig-Macomber interested on contributing a PR to mark wee_alloc as unmaintained ?

[2022-08-30 19:39] #1254 closed

[2022-08-30 20:26] pinkforest commented on #1394
I'm looking at the biggest consumer of this lib
https://crates.io/crates/parity-util-mem (7 months ago - 1,481,950 downloads, ~3k a day)

The [crate readme](https://crates.io/crates/parity-util-mem) mentions this as a warning:
https://github.com/paritytech/parity-common/issues/364

@dvdplm might have some ideas around this if non-std alternative allocator is needed today ?

[2022-08-30 20:35] pinkforest opened #1399 "`parity-util-mem` soundness"
Came across while investigating this: https://github.com/rustsec/advisory-db/issues/1394

https://github.com/paritytech/parity-common/issues/364

Both Github repository and crates.io readme contains a big warning:
https://github.com/paritytech/parity-common/tree/master/parity-util-mem
https://crates.io/crates/parity-util-mem

Cheers

[2022-08-31 10:34] bkolobara commented on #1394
I only used the standard allocator and it was good enough for all my stuff (wasm on the backend).

[2022-08-31 10:41] pepyakin commented on #1394
I would say that wee_alloc is pretty much unmaintained, as it seems I and pretty much every other developer moved on. I would've recommended the users move to something else, but I don't have a good replacement in mind (besides dlmalloc which is the default).

https://crates.io/crates/parity-util-mem (7 months ago - 1,481,950 downloads, ~3k a day)

I think this is incidental. [Substrate](https://g

[2022-08-31 12:35] vbrandl opened #1401 "`badge` is unmaintained"
The [`badge`](https://crates.io/crates/badge) crate is unmaintained and will not receive further updates, as the [code has been removed from the repository](https://github.com/rust-lang/docs.rs/commit/94f3bba6815412bc4672621c4690a93e656486c7).

It is no longer used by the authors and therefore will not receive any updates: https://github.com/rust-lang/docs.rs/issues/1813#issuecomment-1232875809

[2022-08-31 14:20] pinkforest commented on #1401
How did this get used beyond docs.rs usage ?

Seems only dependant project is cargo-travis by @roblabla

Seems clear maintainer intent in this case .. what would we recommend as an alternative(s) e.g. as actionable fix(es) if we were to flag unmaintained ?

I think I saw you forked this so you might pick it up a fork too ? Are there other possible alternatives ?

See an example for `informational

[2022-08-31 14:36] vbrandl commented on #1401
I maintain a binary project, that is not published on crates.io, that uses the `badge` crate: https://github.com/vbrandl/hoc/blob/master/Cargo.toml#L18

And yes, I'm trying to fork, replace usages the also unmaintained `rusttype` crate.

It's not sure yet, if I can take ownership over the `badge` crate or if the fork will be published using another name.

[2022-08-31 14:49] pinkforest commented on #1401
Feel free to send a PR when there is either a a fork or a takeover - as an actionable fix

Recent examples:
- wee_alloc - https://github.com/rustsec/advisory-db/pull/1400/files
- mapr - https://github.com/rustsec/advisory-db/pull/1382/files
- dotenv - https://github.com/rustsec/advisory-db/pull/1359/files

[2022-08-31 15:13] jsoverson commented on #1394
I can echo the other comments. There's value in wee_alloc (et al) but only if it's progressing in step with the community, rust, and WebAssembly. If it's not, people should use the standard allocator.

[2022-08-31 19:09] pinkforest commented on #1053
Following up in here properly:
https://github.com/rustsec/rustsec/issues/671

Closing this in favor of tooling ticket in rustsec/rustsec

[2022-08-31 19:09] #1053 closed

[2022-09-01 00:15] pinkforest opened #1404 "`itoa` use of `mem::uninitialized` before 1.0.0"
_97,514,713 downloads all time, ~200k a day_

@saethlin raised this earlier too - https://github.com/rustsec/advisory-db/issues/1194 but more general discussion

I'm framing this on `itoa` crate issue -

I have some doubts that raising advisory would be too noisy _as of right now_ as a transitive dep but just making a note about this here.

+ @Nilstrieb @RalfJung @5225225 and @dtolnay as you've be

[2022-09-01 00:27] pinkforest opened #1405 "`num-format` Status"
_3,232,716 downloads, ~8k a day_

Last release was over three years ago

It is using the old version of itoa: https://github.com/rustsec/advisory-db/issues/1404

Ralf was helpful to ping earlier: https://github.com/bcmyers/num-format/issues/29

Maintenance status was asked on 9 Jan 2022
https://github.com/bcmyers/num-format/issues/27

@bcmyers - I wonder if people should be still using this crate

[2022-09-01 00:35] dtolnay commented on #1404
Can you clarify whether your interest in an advisory for this is primarily motivated by the use of a deprecated function, or by the potential performance change, or by something else?

[2022-09-01 00:40] pinkforest commented on #1404
To deter the continued use of now deemed unsound function despite it being assumed something else in the past.

[2022-09-01 00:42] dtolnay commented on #1404
Ralf's comment that you quoted above explains that this usage is going to continue working.

[2022-09-01 00:45] pinkforest commented on #1404
Yeah we have precedent that despite rustc bump making it sound we would usually still file advisory on these

It is perhaps regrettable that we cannot mark related rustc version in our advisories - I'll raise a separate tooling feature for that.

[2022-09-01 00:46] saethlin commented on #1404
rustc contains a mitigation for this use pattern, I do not think that mitigation means we shouldn't encourage people away from it. I think that `informational = "notice"` is probably appropriate here. At least for the way I use `cargo-deny` at work, that means that we would not get a CI failure, but at some point some human is going to see the output and may choose to take action on it at their le

[2022-09-01 01:01] dtolnay commented on #1404
I would strongly encourage you to revisit that precedent if possible, although I appreciate this issue may not be the place to debate it. (It's my crate though, and I've already gotten pinged, so here I am…)

In my opinion you are striking the wrong balance, even considering that this would be a `notice` advisory. It makes advisories that much less beneficial to everyone, even the *actually useful

[2022-09-01 01:57] dtolnay commented on #1404
I agree with you that security advisories are normal and are about helping users, not about finger-pointing; far be it from me to conceal security issues with my code. It's clear to me that concealing a legitimate security issue would not be in my interests because it damages people's ability to have trust in using my crates; since *all* code is at risk of flaws, the best someone can ask is that t

[2022-09-01 02:18] pinkforest commented on #1404
Informational advisories are not necessarily concrete security issues -

Both the intended usage and effect of informational is very different to the regular ones -

Maybe this where the misaligned expectations come to play -

The scope of the informational advisories - as we document them - is to supply factual information about any matters concerning the crates to help any maintainer(s) to make

[2022-09-01 05:13] dtolnay commented on #1404
Like in my previous comment, I still struggle to see the connection to security in the itoa situation; (the edits to) your last comment makes it clear to me that what you have in mind is grossly outside the scope of what I would want from a security advisory database.

From your edit &mdash; _"I totally agree that the itoa crate does not deserve a security issue"_ &mdash; it sounds like you agree

[2022-09-01 08:47] pinkforest commented on #1404
No. I think you are twisting my words and I don't think you should twist my words.

I also think that you are turning this into personal attack and I advise you to stop.

I think you have very limited misguided view about security and I don't think any of this constructive in order to decide whether we should file advisory or not.

[2022-09-01 09:15] pinkforest commented on #1404
That is not what I am saying ~

I don't think any of this is really helping to decide whether we should file an advisory or not.

I don't think it is very constructive to twist each others words either or to turn this issue into what my supposed hidden agenda is.

Why did those functions were removed in first place then ?

Just because the behaviour changed in 1.0 shouldn't stop us flagging 0.4

J

[2022-09-01 09:25] Nilstrieb commented on #1404
The point is that itoa 0.4 will _not_ cause security issues anywhere using a recent compiler. I don't think it's worth adding an advisory for what is, in the end, a non-issue.

[2022-09-01 09:27] pinkforest commented on #1404
Yeah well people use the "old" compiler that is a fact of life and we can't assume that everyone is using the latest nightly.

This mitigation (not a fix?) is not in stable yet is it ?

[2022-09-01 09:30] 5225225 commented on #1404
To be honest, using *any* compiler. We don't emit `noundef` for integers, so LLVM has to assume that we're treating it as a `MaybeUninit<u8>` *already*, as I understand it. As in, I'm not aware that there's any chance of miscompilation here.

The mitigation makes itoa 0.4 fully defined behaviour. Not according to the docs (and not when running under miri or memory sanitizer), but the typical run o

[2022-09-01 09:42] pinkforest commented on #1404
As a precedent I will also refer to unicase: https://github.com/rustsec/advisory-db/pull/1176

We don't _generally_ file informationals where the maintainer does not believe there is any security issues we should care about.

Let me be clear on the above so let's not go guessing about it :woman_shrugging:

This shouldn't stop us communicating though and getting these clarified which we are now doi

[2022-09-01 10:18] pinkforest commented on #1404
Great, so then we can close this then and we don't need to file advisories given the maintainer does not want us to either.

Thank you all for clarifying this situation with itoa.

[2022-09-04 00:25] amousset opened #1409 "Allow using different licenses for advisories"
As discussed on Zulip previously, adding the ability to provide a specific license and attribution for advisories would be useful, especially to allow importing advisories from Github Security Database (under CC-BY 4.0).

This would require at least:

* Decide which licenses we want to allow (limiting to CC-0 or CC-BY for now is probably better)
* Two new optional metadata fields in advisories, so

[2022-09-04 03:17] pinkforest opened #1410 "advisory-db non-advisory Tracking"
This pinned & closed tracking issue contains curated list of issues under rustsec/rustsec for advisory-db related tooling issues

[2022-09-04 03:18] #1410 closed

[2022-09-04 03:32] pinkforest commented on #1266
Tooling feature so moving this under rustsec/rustsec and linking here to pinned issue:
https://github.com/rustsec/advisory-db/issues/1410

[2022-09-07 15:37] #1394 closed

[2022-09-08 10:51] #823 closed

[2022-09-08 11:04] #1088 closed

[2022-09-08 11:13] pinkforest commented on #613
@Kixunil would you like to try to send us advisory on this still ? I know it's been like a year but :woman_shrugging: ought to ask first

[2022-09-08 11:17] Kixunil commented on #613
Oh, forgot about this and also will be busy at least until Monday. If anyone wants to do it go ahead.

[2022-09-08 11:22] pinkforest commented on #743
@scottmcm or @bluss would you like to help and send advisory PR on this - I know this was like last year's thing but it would be educational resource to the community regardless despite the circumstances :woman_shrugging:

[2022-09-08 11:33] pinkforest commented on #613
@Kixunil Monday is fine if you got time :) Help would be most appreciated. Thanks

[2022-09-19 12:33] pinkforest opened #1422 "Add `cargo` CVEs 2022-36113 & 2022-36114"
## Background

Cargo has new CVEs: https://blog.rust-lang.org/2022/09/14/cargo-cves.html

- [CVE-2022-36113](https://nvd.nist.gov/vuln/detail/CVE-2022-36113) - [GHSA-rfj2-q3h3-hm5j](https://github.com/advisories/GHSA-rfj2-q3h3-hm5j)
- [CVE-2022-36114](https://nvd.nist.gov/vuln/detail/CVE-2022-36114) - [GHSA-2hvr-h6gw-qrxp](https://github.com/advisories/GHSA-2hvr-h6gw-qrxp)
- https://github.com/rus

[2022-09-21 07:55] rbtcollins opened #1423 "murmur3 looks abandoned"
https://github.com/stusmall/murmur3/issues/18 is my ping for the maintainer; bugs-with-PRs ignored for ~2 years at this point.

[2022-09-23 14:11] pinkforest opened #1424 "`iron` Status"
Release about 3 years ago - 1,132,172 downloads - ~ 600 a day

Interesting issues to investigate later at:
- https://github.com/iron/iron/issues/575 - Bug 7 Jul 2018 - Release sometime 2019 but issue Open ?

I see a new project today is getting hyper v0.10.16 - [RUSTSEC-2021-0078](https://github.com/rustsec/advisory-db/blob/main/crates/hyper/RUSTSEC-2021-0078.md) and [RUSTSEC-2021-0079](https://gi

[2022-09-23 16:23] stusmall commented on #1423
I am still maintaining it.  It is a small crate that doesn't need a lot of updates on it.  I've got two open PRs, one of them is feature related.  I'll dig into the correctness one, but when I first looked at it I didn't see the correctness issue claimed.

[2022-09-23 16:40] pinkforest commented on #1423
Oh sweet - thanks for the clarification :)

[2022-09-23 16:40] #1423 closed

[2022-09-26 09:05] rbtcollins commented on #1423
@stusmall the correctness issue is discussed in the bug - https://github.com/stusmall/murmur3/issues/15 - but thank you for taking the time to look at the PR.

[2022-09-27 00:45] pinkforest opened #1426 "`rmp-serde` Unsound"
https://github.com/3Hren/msgpack-rust/issues/305
https://gist.github.com/Lucretiel/5deaf285f06a85056aa76276abf9bd77

@Lucretiel would you mind contributing a PR on `informational = "unsound"` advisory on this ?

Do we know what release these Raw deprecations ended up into ?

[2022-09-27 03:36] Lucretiel commented on #1426
They were deprecated (but not yet removed) in 1.1.0

[2022-09-27 03:41] Lucretiel commented on #1426
Sure, I can start a report; is there a guide for how to write them?

[2022-09-27 03:41] pinkforest commented on #1426
@kornelski just wondering re: release for rmp-serde w/ removed Raw ? We can also mention the deprecation. Thanks

[2022-09-27 03:43] pinkforest commented on #1426
@Lucretiel That would be lovely !

You can send a pull request, create crates/rmp-serde/RUSTSEC-0000-0000.md

For an example for unsound:
https://github.com/rustsec/advisory-db/pull/1389/files

For the date use when you reported the issue originally - it's backdated

Cheers

[2022-09-27 03:54] Lucretiel commented on #1426
It appears that `Raw` itself wasn't deprecated, but `from_utf8` was. There's still potential unsoundness in the serialize -> deserialize path. I haven't seen any justification for why type exists in the first place so it remains my position that it should be deprecated and removed entirely.

[2022-09-27 03:58] pinkforest commented on #1426
Cool - yeah if we could please document all those different vectors despite them being deprecated so the user will have informed choice on which APIs to use. Cheers

[2022-09-27 12:56] kornelski commented on #1426
Fixed in rmp-serde 1.1.1

[2022-09-27 14:13] michalfita opened #1427 "RUSTSEC-2020-0053 isn't valid any more"
The advisory recommends replacement of [`dirs`](https://github.com/soc/dirs-rs) which looks as actively maintained looking at GitHub history with [`dirs-next`](https://github.com/xdg-rs/dirs) crate that hasn't been updated for 2 years now.

Utter nonsense. Please invalidate that entry.

Thank you.

[2022-09-27 14:15] tarcieri commented on #1427
`RUSTSEC-2020-0053` is marked `withdrawn = "2021-04-19"`

We keep it in the repository for historical purposes, however it will not be surfaced to users of tools like `cargo audit`.

[2022-09-27 14:15] #1427 closed

[2022-09-27 14:17] michalfita commented on #1427
🤔 OK, sorry. `cargo deny` throws it at me... bug there?

Thanks.

[2022-09-27 14:18] tarcieri commented on #1427
What version?

[2022-09-28 14:44] RalfJung commented on #826
`noalias` and async have absolutely nothing to do with it. Totally-safe-transmute is using `/proc/self/mem`.

[2022-09-29 00:10] sanxiyn commented on #826
I note that totally-safe-transmute now has one reverse dependency, so this is not theoretical.

[2022-09-29 00:15] SoniEx2 commented on #826
have you looked at that dep tho. :sweat_smile:

[2022-10-04 07:46] #1401 closed

[2022-10-09 21:44] LovecraftianHorror commented on #1405
It looks like the maintainer just published a new version

https://github.com/bcmyers/num-format/issues/27#issuecomment-1272626722

[2022-10-09 22:15] pinkforest commented on #1405
Thanks - great stuff

[2022-10-09 22:15] #1405 closed

[2022-10-16 02:48] steffahn opened #1437 "Long-standing soundness issue in `aliasable` crate."
See this issue: https://github.com/avitex/rust-aliasable/issues/3

The issue closed and “fixed”, but the fix is not published yet (for more than a year now). Only affected version at the moment: `0.1.3` (previous versions didn’t have the relevant API yet), which is currently the latest version.

_I guess, in case no-one else kindly wants to pick this up, I will eventually have to read through the

[2022-10-16 06:12] pinkforest opened #1438 "`multipart` Status"
6,789,801 downloads all time, ~12k a day.

Whilst going through `iron` - https://github.com/rustsec/advisory-db/issues/1424 - and some other crates around the space I forgot to flag `multipart` to clarify it's status.

- https://crates.io/crates/multipart - Release over a year ago
- https://github.com/abonander/multipart

@abonander - Just wondering is `multipart` still being actively maintained o

[2022-10-16 06:23] pinkforest commented on #1437
Hi many tanks for proactively asking the maintainer for the fixed release -

Would love to have that as actionable fix before merging a PR :)

Would be really lovely if you could send a PR for this! :heart:

Here's couple of `informational = "unsound"` PR's -

- https://github.com/rustsec/advisory-db/pull/1389/files - `mozjpeg`
- https://github.com/rustsec/advisory-db/pull/1304/files - `crossbeam-

[2022-10-23 00:53] nissaofthesea opened #1442 "`crc32c` incorrect results on big endian targets"
The `crc32c` crate produces incorrect results on big endian targets (see this issue: https://github.com/zowens/crc32c/issues/34).

[2022-10-23 00:54] Shnatsel commented on #1442
Thank you for the report!

crc32 is neither a cryptographic hash nor an authentication code. I agree that this is a bug, but I do not see how this is a security issue. Could you elaborate?

[2022-10-23 01:32] nissaofthesea commented on #1442
Yup, you're absolutely right. Closing this.

[2022-10-23 01:32] #1442 closed

[2022-10-26 18:28] huitseeker opened #1446 "`libsqlite3-sys` via C sqlite CVE-2022-35737"
[libsqlite3-sys](https://crates.io/crates/libsqlite3-sys) release v0.25.1 was the first version to upgrade its bindings to sqlite 3.39.2:
https://github.com/rusqlite/rusqlite/blob/sys0.25.1/libsqlite3-sys/sqlite3/bindgen_bundled_version.rs#L3
which fixed [CVE-2022-35737](https://nvd.nist.gov/vuln/detail/CVE-2022-35737).
More details on the CVE at https://blog.trailofbits.com/2022/10/25/sqlite-vuln

[2022-10-30 23:07] pinkforest commented on #1446
Thanks, we should probably flag the vulnerable libsqlite3-sys crate and it will get flagged on where ever it is used

e.g. this will flag via slqx if / when sqlx draws dependency on the old version without flagging sqlx with advisory

[2022-10-31 23:42] cuviper opened #1451 "conduit-hyper CVE-2022-39294"
See https://github.com/conduit-rust/conduit-hyper/security/advisories/GHSA-9398-5ghf-7pr6

[2022-11-01 00:07] pinkforest commented on #1451
Thanks!

[2022-11-02 16:51] niluxv opened #1457 "`atty` potential unaligned read"
I found some discussions on a potential unaligned read in `atty` (10,564,450 recent downloads; 3 years since the last release). I think it legitimately looks like a soundness bug (though I guess it won't cause issues with the usual global allocators?). The issue was filed more than a year ago.

If I understand correctly, `FILE_NAME_INFO` boils down to a struct like
[code]
which has align 4 ([playg

[2022-11-02 22:34] pinkforest commented on #1457
Hey thanks :) Would you mind filing a PR with `informational = "unsound"` ?

To me it also looks like it's not maintained so we can go with that too :+1:

[2022-11-02 22:38] #1451 closed

[2022-11-08 17:03] Kijewski opened #1467 "rewqest v0.1.0 is meant to be malicious"
Its build.rs

[code]

C.f. https://crates.io/crates/rewqest/0.1.0

[2022-11-08 17:23] Kijewski commented on #1467
That's why I looked into the actual `build.rs`, to look whether any immediate action is needed. I don't know if a report to [security@rust-lang.org](mailto:security@rust-lang.org) is needed, since the script does no actual harm. I think that you can assess this better than me.

[2022-11-08 17:28] amousset commented on #1467
I'm reporting it, let's let the crates.io decide what they want to do about it.

[2022-11-08 19:24] Kijewski commented on #1467
[![rewqest: Crate not found](https://i.imgur.com/nR4ygYS.png "rewqest: Crate not found")](https://i.imgur.com/nR4ygYS.png "rewqest: Crate not found")

[2022-11-08 19:24] #1467 closed

[2022-11-08 19:24] Kijewski commented on #1467
Thank you, @amousset!

[2022-11-08 19:25] amousset commented on #1467
Thank you @Kijewski for spotting it!

[2022-11-08 19:26] pietroalbini commented on #1467
Hey all, I'm Pietro from the Rust Security Response WG :slightly_smiling_face:

Thanks for reporting this to security@rust-lang.org, we locked the account of the person who published the crate, and the crate itself is being deleted from crates.io as we speak.

In the future, don't hesitate to report things like this to us, worst case we reply that we don't consider that crate malicious.

[2022-11-13 23:50] 8573 opened #1468 "Is `nix` issue 1040 worth an informational warning?"
* https://github.com/nix-rust/nix/issues/1040

<https://github.com/nix-rust/nix/issues/1040> argues that an API in the `nix` crate is unsound. I don't understand Unsafe Rust myself, so I'd like to ask: do you think it's worth an `informational = "unsound"` warning in the `advisory-db`?

[2022-11-13 23:54] tarcieri commented on #1468
Sure

[2022-11-22 08:17] pinkforest commented on #1457
People also at Wg-unsafe-guidelines agree that this indeed is unsound
https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/.60.23.5Bglobal_allocator.5D.60.20academic.20dilemma/near/311530432

Thanks to @thomcc who had picked up when this was being ported to std and pointed to:
https://github.com/rust-lang/rust/pull/98033#discussion_r958409731

Also thanks

[2022-11-22 08:44] pinkforest commented on #1457
Resolved via #1462

[2022-11-22 23:39] tarcieri commented on #1360
It’s maintained now

[2022-11-25 15:11] djc opened #1471 "surf seems to be unmaintained"
The surf HTTP client seems to be unmaintained. I [reached out](https://github.com/http-rs/surf/issues/352) and it doesn't look good. It depends on the latest released version of http-types, which depends on an old version of cookie which in turns depends on the unmaintained stdweb, an old version of aes-gcm which in turns has a number of unmaintained dependencies. There's [an issue](https://github

[2022-11-25 18:41] pinkforest commented on #1471
Commented here: https://github.com/http-rs/surf/issues/352#issuecomment-1327778764

The maintainer has indicated willingness to merge any security fixes and per our policy we reserve unmaintained for completely unreachable maintainers or where the maintainer explicitly wishes us to flag it.

An action here might be feasible to flag old versions of rustls and then that will light up anything downst

[2022-11-28 18:43] CodesInChaos opened #1473 "Buffer overflow in old versions of `pnet_packet`"
[MutableTcpPacket::set_payload](https://docs.rs/pnet_packet/0.22.0/src/pnet_packet/home/cratesfyi/cratesfyi/debug/build/pnet_packet-5e25de1d4dfd4299/out/tcp.rs.html#705-714) does not validate if the payload fits the packet buffer it writes into. In 0.22 the code looks like the following:

    pub fn set_payload(&mut self, vals: &[u8]) {
        use std::ptr::copy_nonoverlapping;
        let mut _s

[2022-11-28 21:10] pinkforest commented on #1473
Great - thanks ! Would you like to draft a PR for this ?

[2022-11-30 15:13] Shnatsel opened #1474 "Add new buffer overflow in capnproto-rust"
https://github.com/capnproto/capnproto/blob/master/security-advisories/2022-11-30-0-pointer-list-bounds.md

[2022-11-30 22:23] #1474 closed